<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.google.unity.mediation.AppLovin">

    <application>
        <!-- See https://developers.google.com/admob/unity/mediation/applovin#manage_apps
            for instructions on how to set AppLovin's SDK key. -->
        <meta-data
            android:name="applovin.sdk.key"
            android:value="lBnu4FPbTxGUi8cqgwNENfRfqINTVk8B9NxC2Japp2DqKPThsIhPCF7zcC6wr9_IN8OLTcG9SR4dT4OJwQPTBf" />
    </application>
</manifest>
